/* @import './base.css'; */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

#app {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #ECEEF1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #82878D;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6D7177;
}
